<div class="container mt-4">
  <h2>Usuarios</h2>

  <form (ngSubmit)="guardar()" #f="ngForm" class="mb-4">
    <div class="mb-3">
      <label>Nombre</label>
      <input class="form-control" [(ngModel)]="nuevo.nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label>Apellidos</label>
      <input class="form-control" [(ngModel)]="nuevo.apellidos" name="apellidos" required>
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="nuevo.email" name="email" required>
    </div>
    <div class="mb-3">
      <label>Celular</label>
      <input class="form-control" [(ngModel)]="nuevo.cel" name="cel" required>
    </div>
    <div class="mb-3">
      <label>Tipo Usuario</label>
      <select class="form-select" [(ngModel)]="tipoId" name="tipoId" required>
        <option value="">Seleccione...</option>
        <option *ngFor="let t of tipos" [value]="t.id">{{ t.descripcion }}</option>
      </select>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="f.invalid">Guardar</button>
  </form>

  <h3>Lista de Usuarios</h3> 
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let u of usuarios">
            {{ u.nombre }} {{ u.apellidos }} - {{ u.tipoUsuarioDescripcion }}
        </li>
    </ul>
</div>
