<div class="d-flex flex-column vh-100 bg-primary text-white p-3">
  <h4 class="mb-4">Tu Casa</h4>
  <ul class="nav nav-pills flex-column mb-auto">
    <li><a routerLink="/dashboard" class="nav-link text-white">Dashboard</a></li>
    <li><a routerLink="/catalogo" class="nav-link text-white">Inmuebles</a></li>
    <li><a routerLink="/alta-inmueble" class="nav-link text-white">Alta Inmueble</a></li>
    <li><a routerLink="/clientes" class="nav-link text-white">Clientes</a></li>
    <li><a routerLink="/productos" class="nav-link text-white">Productos</a></li>
    <li><a routerLink="/pagos" class="nav-link text-white">Pagos</a></li>
    <li><a routerLink="/usuarios" class="nav-link text-white">Usuarios</a></li>
    <li><a routerLink="/creditos" class="nav-link text-white">Créditos</a></li>
  </ul>
</div>